body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F2EFDF;
    /* Bege Claro */
    margin: 0;
    padding: 0;
    color: #23260F;
    /* Preto Amarronzado */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #607EA6;
    /* Azul Acinzentado */
    color: #F2EFDF;
    /* Bege Claro */
    padding: 0;
}

header .header-content {
    display: flex;
    align-items: center;
    /* Centraliza verticalmente */
    justify-content: space-between;
    /* Distribuindo o espaço entre os elementos */
    padding: 20px 20px;
}

header .logo-space {
    margin-right: 20px;
    flex-shrink: 0;
    /* Evita que o logo seja comprimido */
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    flex-grow: 1;
    /* Ocupa todo o espaço restante */
    text-align: center;
}

/* Centraliza o texto do botão Perfil */
.profile-button {
    display: flex;
    align-items: center;
}

.header-buttons {
    display: flex;
    align-items: center;
    gap: 20px; /* Espaçamento entre os botões */
}

.logout-button {
    background-color: #dc3545;
    /* Vermelho */
    color: #F2EFDF;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    /* Borda mais arredondada */
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logout-button:hover {
    background-color: #c82333;
    /* Vermelho mais escuro no hover */
}

.profile-button {
    background-color: #607EA6;
    /* Azul Acinzentado */
    color: #F2EFDF;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
    /* Remove o sublinhado do link */
    transition: background-color 0.3s ease;
}

.profile-button:hover {
    background-color: #9BA7BF;
    /* Azul Acinzentado mais claro */
}



main {
    padding: 30px 0;
    flex: 1;
}

.login-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #607EA6;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #3B4013;
}

.form-group input {
    width: 93%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #607EA6;
    color: #F2EFDF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    text-decoration: none;
    /* Removendo sublinhado dos links */
}

.button:hover {
    background-color: #9BA7BF;
}

.btn-primary {
    background-color: #007bff; /* Azul padrão do Bootstrap */
    border-color: #007bff; /* Cor da borda (opcional) */
    color: #fff; /* Cor do texto (branco) */
}

/* Para mudar a cor no hover (quando o mouse passa por cima) */
.btn-primary:hover {
    background-color: #0069d9; /* Azul um pouco mais escuro */
    border-color: #0062cc;
}

.links {
    text-align: center;
    margin-top: 15px;
}

.links a {
    margin: 0 10px;
    color: #3B4013;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

.info-blocks {
    background-color: #e9ecef65;
    padding: 30px 0;
    margin-top: 40px;
}

.info-block {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    background-color: #e9ecef96;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.info-block h3 {
    color: #3B4013;
}

footer {
    background-color: #3B4013;
    color: #F2EFDF;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}

/* Responsividade */
@media (min-width: 768px) {
    .info-blocks .container {
        display: flex;
        justify-content: space-between;
    }

    .info-block {
        flex: 0 0 calc(33% - 20px);
    }
}

@media (max-width: 767px) {
    .login-container {
        margin: 20px auto;
    }

    .info-block {
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.8rem;
        margin-top: 0; /* Reduz a margem superior em telas menores */
    }

    .form-group input {
        width: 90%;
    }

    .header-content {
        padding: 10px; /* Reduz o padding em telas menores */
    }

    .header-buttons {
        display: flex;
        align-items: center;
        gap: 20px; /* Espaçamento entre os botões */
    }

    .logo-space {
        margin-right: 10px; /* Reduz a margem em telas menores */
    }

    /* Força os botões a ficarem em uma linha em telas pequenas */
    .header-content > a,
    .header-content > form {
        flex-basis: 100%;
        text-align: center;
        margin-left: 0;
    }

    .profile-button,
    .logout-button {
        margin-left: 0;
        margin-top: 10px;
        width: auto;
        display: inline-block;
    }
}

.register-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 0 auto;
}

.register-container h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #607EA6;
}

.form-group input,
.form-group select {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

.button.secondary {
    background-color: #9BA7BF;
}

.button.secondary:hover {
    background-color: #607EA6;
}

.button-group {
    display: flex;
    justify-content: center; /* Centraliza os botões */
    margin-top: 20px; /* Espaçamento acima dos botões */
    gap: 15px; /* Espaço entre os botões */
}

.error {
    color: #dc3545;
    font-size: 0.9rem;
    margin-top: 5px;
}

.register-container .button {
    width: 150px;
    /* Mantém a largura fixa para os botões */
    padding: 12px 25px;
    margin-right: 10px;
    margin-bottom: 15px;
    /* Pode remover se não precisar de espaço abaixo dos botões */
    font-size: 1.1rem;
    box-sizing: border-box;
}

.register-container .form-group.button-group {
    text-align: center;
    /* Centraliza os botões horizontalmente */
    display: flex;
    /* Torna o contêiner flexível */
    justify-content: center;
    /* Centraliza os itens flexíveis (botões) */
    flex-wrap: wrap;
    /* Permite que os botões quebrem para a próxima linha se necessário */
}

.forgot-password-container,
.reset-password-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    /* Reduzindo para 500px */
    margin: 0 auto;
}


.forgot-password-container h2,
.reset-password-container h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #607EA6;
}

.options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
    /* Adicionando quebra de linha */
}

.option-block {
    flex: 0 0 48%;
    /* Mantendo a largura relativa */
    border: 1px solid #ddd;
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    box-sizing: border-box;
    /* Adicionando box-sizing */
}

.option-block:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-color: #607EA6;
}

.option-block h3 {
    color: #607EA6;
    margin-top: 0;
}

.option-block p {
    font-size: 0.9rem;
    color: #23260F;
}

.option-block input[type="radio"] {
    display: none;
}

.main-blocks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
}

.block {
    flex: 0 0 calc(23% - 10px);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    color: #F2EFDF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.block h3 {
    margin-top: 0;
}

.block-1 {
    background-color: #fd810d;
}

.block-3 {
    background-color: #20c997;
}

.block-4 {
    background-color: #358bdc;
}

.block-5 {
    background-color: #5859b1e8;
    /* Roxo */
}

.block .button {
    display: inline-block;
    width: auto;
    margin-top: 10px;
    text-decoration: none;
}

/* Ícone de Perfil */
.profile-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 30px;
    color: #607EA6;
    cursor: pointer;
    z-index: 1000;
}

/* Responsividade para os blocos */
@media (max-width: 767px) {
    .main-blocks {
        flex-direction: column;
    }

    .block {
        flex: 0 0 100%;
    }
}

/* Responsividade para o ícone de perfil */
@media (max-width: 480px) {
    .profile-icon {
        font-size: 24px;
    }
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}


.table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.table th,
.table td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}

.table th {
    background-color: #f2f2f2;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;
    /* Removendo sublinhado dos links */
}

.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}

.escola-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

/* Estilo para o ícone (opcional) */
.toggle-vagas i {
    margin-left: 5px;
}

/*Para a responsividade do botão inscreva-se*/
.btn-container {
    text-align: right; /* Alinhar o botão à direita */
    margin-top: -28px; /* Ajustar a margem superior para subir o botão */
}



/* Estilos para os botões de upload de arquivos */
.file-upload-label {
    display: inline-block;
    background-color: #ffffff; /* Azul Acinzentado - mesma cor dos botões */
    color: #F2EFDF; /* Bege Claro - mesma cor do texto dos botões */
    padding: 10px 15px;
    border-radius: 5px; /* Borda arredondada */
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none; /* Remove o sublinhado */
    transition: background-color 0.3s ease;
    border: none; /* Remover borda padrão */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.file-upload-label:hover {
    background-color: #9BA7BF; /* Tom mais claro no hover */
}

.file-upload-label span {
    /* Estilo para o texto dentro do label */
    margin-right: 5px; /* Espaço entre o texto e o nome do arquivo (opcional) */
}

/* Oculta o input file padrão */
.form-control-file {
    display: none;
}